RagChatBot.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1AT6yx7gtRNg8PGO-P_jarEBmAPagPAn5",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AT6yx7gtRNg8PGO-P_jarEBmAPagPAn5"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f162107c-b0f3-4c2e-b657-9cc2bafa9bad",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iWeDC618hF0kuXse",
          "name": "Google Drive Trigger"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "c349ac2f-de07-4bbb-9429-542d678899e0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iWeDC618hF0kuXse",
          "name": "Google Drive Trigger"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragtest",
          "mode": "list",
          "cachedResultName": "ragtest"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "753395f1-a59f-4757-99aa-49068025b103",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "wq4OJxU5KO8tAbXm",
          "name": "RagTest"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        208
      ],
      "id": "d9608d22-c6f7-48e9-ae51-34f8b2fd0e27",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fg2F4d4T6nfNmqhs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "c2ffd9df-da9b-40a1-8b8c-5d198a086d73",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        416
      ],
      "id": "fc17a176-8617-4988-83dc-448e2ad1e991",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        928,
        0
      ],
      "id": "54914dc4-dfa9-41c6-bfec-9a3e3af4b670",
      "name": "When chat message received",
      "webhookId": "7d6e36e7-d7a2-40f0-8565-a338308290e9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1136,
        0
      ],
      "id": "99632da9-51f3-44fd-b8b1-06fec96a9419",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1008,
        208
      ],
      "id": "f0320824-50dc-4458-b066-8f2c30ae2195",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Zkj2fSKDGqtH4Mbp",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "CAll this tool to access the FAQ for NextGenGRC",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragtest",
          "mode": "list",
          "cachedResultName": "ragtest"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1280,
        256
      ],
      "id": "b77be544-4b0b-49c2-9b24-da3b102d306a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "wq4OJxU5KO8tAbXm",
          "name": "RagTest"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1376,
        464
      ],
      "id": "da200d9a-1aca-40ae-b016-122b1fcb5ea4",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "fg2F4d4T6nfNmqhs",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "52ea472a-89a3-4165-8fb7-5506d68f2e36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19bfdc32dca065e4ebba74b8b834c2ed8cbfa54282e0b9a29d77f2ce9d96d2b5"
  },
  "id": "a4hi6Z23uuf4NnzQ",
  "tags": [
    {
      "name": "RagChatBot",
      "id": "uOu2iSWGQGgclUlw",
      "createdAt": "2025-10-10T20:28:09.588Z",
      "updatedAt": "2025-10-10T20:28:09.588Z"
    },
    {
      "name": "FAQ",
      "id": "WPNu2PeG5SwNIoen",
      "createdAt": "2025-10-10T20:28:18.167Z",
      "updatedAt": "2025-10-10T20:28:18.167Z"
    }
  ]
}